/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* Sections
   @mixin ========================================================================= */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article, aside, footer, header, nav, section, figcaption, figure, main {
  display: block;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

/* Text-level semantics
   @mixin ========================================================================= */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   @mixin ========================================================================= */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

/**Enable panning and pinch zoom gestures, but disable additional non-standard gestures such as double-tap to zoom. Disabling double-tap to zoom removes the need for browsers to delay the generation of click events when the user taps the screen. */
a, area, button, input, label, select, textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* Scripting
   @mixin ========================================================================= */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   @mixin ========================================================================= */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

/* Reset
   @mixin ========================================================================= */
h1, h2, h3, h4, h5, h6, p, blockquote, em, img, i, dl, dt, ol, ul, li, video, canvas {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

div, input, textarea, select, button,
h1, h2, h3, h4, h5, h6, a, span {
  outline: none;
}

ul, ol {
  list-style-type: none;
}

input[type="submit"],
button {
  cursor: pointer;
}

input[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

/** to remove the rounded in IOS*/
textarea,
input[type="text"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
  border-radius: 0;
}

.container {
  max-width: 960px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.main_header {
  color: #fff;
  background-color: #000;
}

.main_header .container {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.main_header .container .main_navigation ul {
  display: flex;
}

.main_header .container .main_navigation ul li {
  margin-top: auto;
  margin-bottom: auto;
}

.main_header .container .main_navigation ul li a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  line-height: 42px;
  padding: 14px 20px;
}

.main_header .container .main_navigation ul li a:hover {
  background: #242424;
}

.main_header .container .main_navigation ul li .active {
  position: relative;
}

.main_header .container .main_navigation ul li .active::after {
  content: "";
  display: block;
  bottom: 0px;
  left: 20px;
  right: 20px;
  height: 5px;
  background-color: #fff;
}

.main_header .container .user_block {
  height: 100%;
  display: flex;
}

.main_header .container .user_block .login {
  position: relative;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  line-height: 42px;
  padding: 14px 20px 14px 50px;
}

.main_header .container .user_block .login::before {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  top: 28px;
  left: 20px;
  background: #f00;
}

.main_header .container .user_block .login:hover {
  background: #242424;
}

main {
  color: #fff;
  margin-bottom: 40px;
}

main .index_logo {
  display: flex;
  justify-content: center;
  padding-top: 56px;
}

main .index_logo img {
  height: 204px;
  width: 368px;
}

main .features {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
  color: #f7f4f1;
}

main .features .features_item {
  width: 300px;
  text-align: center;
}

main .features .features_item .features_name {
  position: relative;
  display: inline-block;
  font-size: 30px;
  line-height: 42px;
  margin-bottom: 30px;
  padding-bottom: 35px;
}

main .features .features_item .features_name::after {
  content: '';
  background-color: #f7f4f1;
  position: absolute;
  height: 20px;
  width: 20px;
  bottom: 0px;
  left: 50%;
  transform: rotate(45deg);
  margin-left: -10px;
}

main .index_content {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 80px;
  padding-right: 80px;
  margin-bottom: 32px;
  color: #000000;
  background: url(../img/shadow.png) no-repeat center, #f8f5f2 url(../img/bg-white.png);
}

main .index_content .index_content_left {
  width: 300px;
}

main .index_content .index_content_right {
  width: 300px;
}

main .index_content .index_content_title {
  margin-bottom: 30px;
}

main .index_content li {
  margin-bottom: 28px;
}

main .index_content li time {
  text-transform: lowercase;
  font-weight: normal;
}

main .index_content p {
  margin-bottom: 25px;
}

main .index_content .gallery {
  position: relative;
  height: 274px;
}

main .index_content .gallery .gallery_content {
  margin: 0;
  height: 178px;
  width: 300px;
  border: 7px solid #fff;
}

main .index_content .gallery .btn_gallery_prev {
  position: absolute;
  bottom: 0;
  left: 0;
}

main .index_content .gallery .btn_gallery_next {
  position: absolute;
  bottom: 0;
  right: 0;
}

main .index_content .btn_map {
  margin-right: 16px;
}

main .index_content .appointment_form input {
  padding: 7px 15px;
  width: 140px;
  border: 2px solid #000;
  background-color: #f9f6f3;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-weight: bold;
  margin-right: 17px;
  margin-bottom: 19px;
}

main .index_content .appointment_form input:nth-child(2n) {
  margin-right: 0px;
}

main .index_content .appointment_form input:focus {
  border: 2px solid #663d15;
}

main .index_content .appointment_form .btn {
  width: 300px;
}

.footer {
  background: #666 url(../img/footer-bg.png) no-repeat center top;
}

.footer .container .link_map {
  height: 42px;
  width: 42px;
  color: inherit;
}

.footer .container .link_map:hover {
  text-decoration: none;
}

.footer .container .contact {
  float: left;
  margin-top: 58px;
  margin-bottom: 39px;
  margin-right: 60px;
  width: 320px;
}

.footer .container .links {
  float: left;
  text-align: center;
  margin-top: 58px;
  margin-bottom: 39px;
  width: 140px;
}

.footer .container .links .link {
  background-color: #000;
  width: 42px;
  height: 42px;
  display: inline-block;
  margin-top: 15px;
  margin-right: 2px;
}

.footer .container .links .link:last-child {
  margin-right: 0;
}

.footer .container .links .link img {
  padding: 10px;
}

.footer .container .copyright {
  float: right;
  text-align: center;
  margin-top: 58px;
  margin-bottom: 39px;
  width: 140px;
}

.footer .container .copyright .btn_copyright {
  margin-top: 15px;
  width: 140px;
  display: inline-block;
  background-color: #000;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-weight: bold;
  padding-top: 9px;
  padding-bottom: 9px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
}

.footer .container .clear {
  clear: both;
}

.inner_body {
  background: #f9f6f3 url(../img/price-bg.png);
}

.inner_body main {
  margin-bottom: 80px;
  color: #000;
}

.inner_body main .price_path {
  margin-top: 55px;
  margin-bottom: 45px;
}

.inner_body main .price_path h1 {
  font-size: 30px;
  line-height: 42px;
  color: #000000;
  font-weight: bold;
  margin-bottom: 20px;
}

.inner_body main .price_path .breadcrambs ul {
  display: flex;
  color: #f7f4f1;
}

.inner_body main .price_path .breadcrambs ul li {
  padding-right: 40px;
  position: relative;
  display: inline-block;
}

.inner_body main .price_path .breadcrambs ul li:hover {
  text-decoration: underline;
}

.inner_body main .price_path .breadcrambs ul li a {
  color: #000;
  text-decoration: none;
}

.inner_body main .price_path .breadcrambs ul li:last-child {
  color: #aba9a7;
  text-decoration: none;
}

.inner_body main .price_path .breadcrambs ul li:last-child::after {
  content: none;
}

.inner_body main .price_path .breadcrambs ul li::after {
  content: '';
  position: absolute;
  right: 17px;
  bottom: 8px;
  width: 7px;
  height: 7px;
  background-color: #000;
  transform: rotate(45deg);
}

.inner_body main .price_title {
  position: relative;
  text-align: center;
  margin: 1px;
}

.inner_body main .price_title::after {
  content: '';
  position: absolute;
  height: 2px;
  left: 0px;
  right: 0px;
  bottom: 34px;
  background-color: #000;
  z-index: 1;
}

.inner_body main .price_title h2 {
  font-size: 48px;
  line-height: 68px;
  text-align: center;
  display: inline-block;
  position: relative;
  padding: 0px 25px;
  z-index: 2;
  background: #f9f6f3 url(../img/price-bg.png);
}

.inner_body main .price_content {
  margin: 1px;
  color: #000000;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-weight: bold;
}

.inner_body main .price_content h3 {
  font-size: 24px;
  line-height: 36px;
  margin-top: 60px;
  margin-bottom: 30px;
}

.inner_body main .price_content p {
  margin: 0px;
  font-size: 14px;
  line-height: 24px;
}

.inner_body main .price_content li {
  padding-left: 20px;
  margin: 14px 0;
  font-size: 14px;
  line-height: 24px;
  position: relative;
}

.inner_body main .price_content li::before {
  content: '';
  position: absolute;
  left: 7px;
  bottom: 9px;
  width: 7px;
  height: 7px;
  background-color: #000;
  transform: rotate(45deg);
}

.inner_body main .price_content table {
  border-collapse: collapse;
  width: 460px;
}

.inner_body main .price_content table td {
  border: 2px solid #000;
  padding: 10px 15px;
}

.inner_body main .price_content .price_content_block {
  display: flex;
  justify-content: space-between;
}

.inner_body main .price_content .price_content_block p {
  width: 380px;
  margin-right: 80px;
}

body {
  background: #000000 url(../img/header-bg.jpg) no-repeat center top;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

body .btn {
  display: inline-block;
  background-color: #000;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-weight: bold;
  padding-top: 13px;
  padding-bottom: 13px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  width: 140px;
}

body .btn:hover, body .btn:active {
  background-color: #663d15;
}

body .modal_form {
  display: none;
  z-index: 10;
  position: absolute;
  width: 460px;
  background-color: #f9f6f3;
  color: #000;
  top: 120px;
  margin-left: -230px;
  left: 50%;
  padding: 50px 80px;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.5);
}

body .modal_form h2 {
  font-size: 30px;
  line-height: 42px;
  margin-bottom: 22px;
}

body .modal_form p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 24px;
}

body .modal_form input[type="text"],
body .modal_form input[type="password"] {
  width: 300px;
  background-color: #f9f6f3;
  border: 2px solid #000;
  padding: 10px 10px;
  padding-right: 40px;
  margin-bottom: 9px;
  color: #000;
  font-size: 10px;
  line-height: 18px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

body .modal_form input[type="text"]:focus,
body .modal_form input[type="password"]:focus {
  border-color: #663d15;
}

body .modal_form .login_checkbox {
  position: relative;
  float: left;
  padding-left: 30px;
  margin-bottom: 15px;
}

body .modal_form .login_checkbox input[type="checkbox"] {
  display: none;
}

body .modal_form .login_checkbox .checkbox_indicator {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 2px;
  height: 20px;
  width: 20px;
  border: 2px solid #000;
}

body .modal_form .login_checkbox :checked + .checkbox_indicator::after, body .modal_form .login_checkbox :checked + .checkbox_indicator::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 2px;
  background-color: #000;
  top: 7px;
  left: 0px;
}

body .modal_form .login_checkbox :checked + .checkbox_indicator::after {
  transform: rotate(45deg);
}

body .modal_form .login_checkbox :checked + .checkbox_indicator::before {
  transform: rotate(-45deg);
}

body .modal_form a {
  float: right;
  color: #000;
}

body .modal_form .clear {
  clear: both;
}

body .modal_form .btn {
  width: 300px;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }
  70% {
    transform: translateY(30px);
  }
  90% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

body .modal_form_active {
  display: block;
  animation: bounce 0.6s;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

body .modal_form_error {
  animation: shake 0.6s;
}

body .modal_map {
  display: none;
  z-index: 11;
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, 0%);
  height: 575px;
  width: 780px;
  border: 7px solid #fff;
}

body .modal_map_active {
  display: block;
}

body .modal_close {
  position: absolute;
  height: 25px;
  width: 25px;
  top: 8px;
  right: -35px;
  padding: 0;
  border: 0;
  background-color: transparent;
}

body .modal_close::before {
  content: '';
  width: 27px;
  height: 5px;
  top: 10px;
  left: -1px;
  transform: rotate(45deg);
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
}

body .modal_close::after {
  content: '';
  width: 27px;
  height: 5px;
  top: 10px;
  left: -1px;
  transform: rotate(-45deg);
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
}

body .modal_overlay_active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background: rgba(0, 0, 0, 0.5);
}
