.footer {
  background: #666 url(../img/footer-bg.png) no-repeat center top;
}

.footer .container .link_map {
  height: 42px;
  width: 42px;
  color: inherit;
}

.footer .container .link_map:hover {
  text-decoration: none;
}

.footer .container .contact {
  float: left;
  margin-top: 58px;
  margin-bottom: 39px;
  margin-right: 60px;
  width: 320px;
}

.footer .container .links {
  float: left;
  text-align: center;
  margin-top: 58px;
  margin-bottom: 39px;
  width: 140px;
}

.footer .container .links .link {
  background-color: #000;
  width: 42px;
  height: 42px;
  display: inline-block;
  margin-top: 15px;
  margin-right: 2px;
}

.footer .container .links .link:last-child {
  margin-right: 0;
}

.footer .container .links .link img {
  padding: 10px;
}

.footer .container .copyright {
  float: right;
  text-align: center;
  margin-top: 58px;
  margin-bottom: 39px;
  width: 140px;
}

.footer .container .copyright .btn_copyright {
  margin-top: 15px;
  width: 140px;
  display: inline-block;
  background-color: #000;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-weight: bold;
  padding-top: 9px;
  padding-bottom: 9px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
}

.footer .container .clear {
  clear: both;
}
