/* line 1, X:/front/git/barbershop/sass/components/inner.sass */
.inner_body {
  background: #f9f6f3 url(../img/price-bg.png);
}

/* line 3, X:/front/git/barbershop/sass/components/inner.sass */
.inner_body main {
  margin-bottom: 80px;
  color: #000;
}

/* line 6, X:/front/git/barbershop/sass/components/inner.sass */
.inner_body main .price_path {
  margin-top: 55px;
  margin-bottom: 45px;
}

/* line 9, X:/front/git/barbershop/sass/components/inner.sass */
.inner_body main .price_path h1 {
  font-size: 30px;
  line-height: 42px;
  color: #000000;
  font-weight: bold;
  margin-bottom: 20px;
}

/* line 16, X:/front/git/barbershop/sass/components/inner.sass */
.inner_body main .price_path .breadcrambs ul {
  display: flex;
  color: #f7f4f1;
}

/* line 19, X:/front/git/barbershop/sass/components/inner.sass */
.inner_body main .price_path .breadcrambs ul li {
  padding-right: 40px;
  position: relative;
  display: inline-block;
}

/* line 23, X:/front/git/barbershop/sass/components/inner.sass */
.inner_body main .price_path .breadcrambs ul li:hover {
  text-decoration: underline;
}

/* line 25, X:/front/git/barbershop/sass/components/inner.sass */
.inner_body main .price_path .breadcrambs ul li a {
  color: #000;
  text-decoration: none;
}

/* line 28, X:/front/git/barbershop/sass/components/inner.sass */
.inner_body main .price_path .breadcrambs ul li:last-child {
  color: #aba9a7;
  text-decoration: none;
}

/* line 31, X:/front/git/barbershop/sass/components/inner.sass */
.inner_body main .price_path .breadcrambs ul li:last-child::after {
  content: none;
}

/* line 34, X:/front/git/barbershop/sass/components/inner.sass */
.inner_body main .price_path .breadcrambs ul li::after {
  content: '';
  position: absolute;
  right: 17px;
  bottom: 8px;
  width: 7px;
  height: 7px;
  background-color: #000;
  transform: rotate(45deg);
}

/* line 43, X:/front/git/barbershop/sass/components/inner.sass */
.inner_body main .price_title {
  position: relative;
  text-align: center;
  margin: 1px;
}

/* line 47, X:/front/git/barbershop/sass/components/inner.sass */
.inner_body main .price_title::after {
  content: '';
  position: absolute;
  height: 2px;
  left: 0px;
  right: 0px;
  bottom: 34px;
  background-color: #000;
  z-index: 1;
}

/* line 56, X:/front/git/barbershop/sass/components/inner.sass */
.inner_body main .price_title h2 {
  font-size: 48px;
  line-height: 68px;
  text-align: center;
  display: inline-block;
  position: relative;
  padding: 0px 25px;
  z-index: 2;
  background: #f9f6f3 url(../img/price-bg.png);
}

/* line 67, X:/front/git/barbershop/sass/components/inner.sass */
.inner_body main .price_content {
  margin: 1px;
  color: #000000;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-weight: bold;
}

/* line 72, X:/front/git/barbershop/sass/components/inner.sass */
.inner_body main .price_content h3 {
  font-size: 24px;
  line-height: 36px;
  margin-top: 60px;
  margin-bottom: 30px;
}

/* line 77, X:/front/git/barbershop/sass/components/inner.sass */
.inner_body main .price_content p {
  margin: 0px;
  font-size: 14px;
  line-height: 24px;
}

/* line 81, X:/front/git/barbershop/sass/components/inner.sass */
.inner_body main .price_content li {
  padding-left: 20px;
  margin: 14px 0;
  font-size: 14px;
  line-height: 24px;
  position: relative;
}

/* line 87, X:/front/git/barbershop/sass/components/inner.sass */
.inner_body main .price_content li::before {
  content: '';
  position: absolute;
  left: 7px;
  bottom: 9px;
  width: 7px;
  height: 7px;
  background-color: #000;
  transform: rotate(45deg);
}

/* line 96, X:/front/git/barbershop/sass/components/inner.sass */
.inner_body main .price_content table {
  border-collapse: collapse;
  width: 460px;
}

/* line 99, X:/front/git/barbershop/sass/components/inner.sass */
.inner_body main .price_content table td {
  border: 2px solid #000;
  padding: 10px 15px;
}

/* line 102, X:/front/git/barbershop/sass/components/inner.sass */
.inner_body main .price_content .price_content_block {
  display: flex;
  justify-content: space-between;
}

/* line 105, X:/front/git/barbershop/sass/components/inner.sass */
.inner_body main .price_content .price_content_block p {
  width: 380px;
  margin-right: 80px;
}

/*# sourceMappingURL=../../css/components/inner.map */